@keyframes slideFromTop {
  from {
    top: -100px; }
  to {
    top: 0px; } }
body {
  max-width: 2800px;
  margin: auto;
  position: relative; }
  body header {
    background: #ffffff;
    display: flex;
    justify-content: center;
    animation-duration: 1s;
    animation-name: slideFromTop;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    max-height: 90px;
    z-index: 2; }
    body header .container {
      width: 79.86%;
      display: flex;
      justify-content: space-between; }
      body header .container .header__logo > img {
        max-width: 100%; }
      body header .container .user-info__container {
        width: 100%;
        max-width: 300px;
        position: relative; }
        body header .container .user-info__container .bell {
          cursor: pointer; }
          body header .container .user-info__container .bell svg {
            width: 35px;
            fill: #bec9d9; }
          body header .container .user-info__container .bell svg:hover {
            fill: #7c7f85; }
        body header .container .user-info__container input#user-logo-checkbox {
          display: none; }
        body header .container .user-info__container input#user-logo-checkbox:checked ~ .user__actions {
          display: block; }
        body header .container .user-info__container .user__interface {
          display: flex;
          align-items: center;
          justify-content: flex-end; }
          body header .container .user-info__container .user__interface .user__logo label {
            display: block;
            margin-left: 1.7vw; }
          body header .container .user-info__container .user__interface .user__logo img {
            width: 60px;
            max-height: 60px;
            max-width: 100%;
            border-radius: 50%;
            cursor: pointer;
            max-width: 100%; }
        body header .container .user-info__container .user__actions {
          padding: 20px 30px 30px 30px;
          background: #ffffff;
          border: 1px solid;
          margin-top: 10px;
          display: none;
          position: absolute;
          z-index: 300;
          right: 0;
          width: 100%; }
          body header .container .user-info__container .user__actions .user__name {
            color: #9ba6b2;
            font-size: 20px;
            text-align: center;
            padding-bottom: 15px; }
          body header .container .user-info__container .user__actions .grey__line {
            height: 2px;
            background: #9ba6b2; }
          body header .container .user-info__container .user__actions button.users__action-bth {
            background: transparent;
            border: transparent;
            display: block;
            font-size: 20px;
            padding: 15px 0px 15px 5px;
            width: 100%;
            text-align: left;
            cursor: pointer; }
          body header .container .user-info__container .user__actions button.user__profile__bth {
            margin-top: 5px; }
          body header .container .user-info__container .user__actions button.users__action-bth:hover {
            background: #b6b9bb; }
  body .main__content {
    background: #f8f9fc;
    display: flex;
    justify-content: center;
    height: 100vh;
    min-height: 100vh; }
    body .main__content .container {
      width: 79.86%;
      height: 32vw;
      margin-top: 150px;
      margin-bottom: 10px;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(12, 1fr);
      grid-template-areas: "logo logo logo js js js php php php php php php" "logo logo logo js js js php php php php php php" "logo logo logo js js js php php php php php php" "logo logo logo js js js php php php php php php" "logo logo logo js js js dot-net dot-net dot-net dot-net events events" "logo logo logo js js js dot-net dot-net dot-net dot-net events events" "qa qa qa js js js dot-net dot-net dot-net dot-net events events" "qa qa qa js js js dot-net dot-net dot-net dot-net blog blog" "qa qa qa js js js dot-net dot-net dot-net dot-net blog blog" "qa qa qa java java java dot-net dot-net dot-net dot-net blog blog" "qa qa qa java java java dot-net dot-net dot-net dot-net contacts contacts" "qa qa qa java java java dot-net dot-net dot-net dot-net contacts contacts"; }
      body .main__content .container .card .card__back__wrapper,
      body .main__content .container .card .card__front__wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all 1s ease;
        backface-visibility: hidden; }
      body .main__content .container .card .card__front__wrapper {
        z-index: 2; }
      body .main__content .container .card .card__back__wrapper {
        transform: rotateY(180deg); }
      body .main__content .container .card:hover > .card__front__wrapper {
        z-index: 0;
        transform: rotateY(180deg); }
      body .main__content .container .card:hover > .card__back__wrapper {
        transform: rotateY(0deg); }
      body .main__content .container .card .card_cover__wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: width 1s ease; }
        body .main__content .container .card .card_cover__wrapper.centered {
          display: flex;
          justify-content: center;
          align-items: center; }
        body .main__content .container .card .card_cover__wrapper .cover__wrapper__title {
          transition: all 1s ease; }
      body .main__content .container .logo__card {
        grid-area: logo;
        position: relative; }
        body .main__content .container .logo__card .card__back__wrapper {
          display: flex;
          justify-content: center;
          align-items: center; }
          body .main__content .container .logo__card .card__back__wrapper button {
            font-size: 18px;
            text-transform: normal;
            font-weight: bold;
            color: #000000;
            background: blue;
            border: none;
            padding: 10px 20px;
            border-radius: 10px;
            cursor: pointer; }
            body .main__content .container .logo__card .card__back__wrapper button:hover {
              background: #9797ac; }
        body .main__content .container .logo__card .card__front__wrapper {
          background: #ffffff;
          display: flex;
          justify-content: center;
          align-items: center; }
          body .main__content .container .logo__card .card__front__wrapper .card__front__wrapper__title {
            width: 100px;
            max-width: 100%; }
      body .main__content .container .js__card {
        background: #ffffff;
        grid-area: js;
        position: relative; }
        body .main__content .container .js__card .card__back__wrapper {
          background: #f0eded;
          padding: 10px;
          overflow: auto;
          font-size: 18px;
          text-transform: normal;
          font-weight: bold;
          color: #000000; }
        body .main__content .container .js__card .card__front__wrapper {
          background: #f7cf69;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end; }
          body .main__content .container .js__card .card__front__wrapper .card__front__wrapper__title {
            margin-right: 10px;
            margin-bottom: 10px;
            font-size: 5vw;
            text-transform: uppercase;
            font-weight: bold;
            color: #000000;
            display: flex;
            justify-content: center;
            align-items: center; }
      body .main__content .container .qa__card {
        grid-area: qa;
        position: relative; }
        body .main__content .container .qa__card .card__back__wrapper {
          background: #f0eded;
          padding: 10px;
          overflow: auto;
          font-size: 18px;
          text-transform: normal;
          font-weight: bold;
          color: #000000; }
        body .main__content .container .qa__card .card__front__wrapper {
          background: #52bf78;
          display: flex;
          justify-content: center;
          align-items: center; }
          body .main__content .container .qa__card .card__front__wrapper .card__front__wrapper__title {
            font-size: 6vw;
            text-transform: uppercase;
            font-weight: bold;
            color: #ffffff; }
      body .main__content .container .java__card {
        background: #ffffff;
        grid-area: java;
        position: relative; }
        body .main__content .container .java__card .card_content__wrapper {
          overflow: auto;
          padding: 10px;
          font-size: 18px;
          text-transform: normal;
          font-weight: bold;
          color: #000000; }
        body .main__content .container .java__card .card_cover__wrapper {
          right: 0;
          bottom: 0;
          background: #e02b4c;
          transition: height 1s ease; }
          body .main__content .container .java__card .card_cover__wrapper .cover__wrapper__title {
            color: #ffffff;
            font-size: 6vw;
            text-transform: normal;
            font-weight: bold;
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center; }
        body .main__content .container .java__card:hover .card_cover__wrapper {
          height: 0; }
          body .main__content .container .java__card:hover .card_cover__wrapper .cover__wrapper__title {
            transform: scale(0); }
      body .main__content .container .php__card {
        background: #ffffff;
        grid-area: php;
        position: relative; }
        body .main__content .container .php__card .card_content__wrapper {
          overflow: auto;
          padding: 10px;
          font-size: 18px;
          text-transform: normal;
          font-weight: bold;
          color: #000000; }
        body .main__content .container .php__card .card_cover__wrapper {
          right: 0;
          top: 0;
          background: #8893c0;
          transition: width 1s ease, height 1s ease; }
          body .main__content .container .php__card .card_cover__wrapper .cover__wrapper__title {
            color: #ffffff;
            font-style: italic;
            font-size: 6vw;
            text-transform: normal;
            font-weight: bold;
            color: #000000;
            display: flex;
            justify-content: center;
            align-items: center; }
        body .main__content .container .php__card:hover .card_cover__wrapper {
          width: 0;
          height: 0; }
          body .main__content .container .php__card:hover .card_cover__wrapper .cover__wrapper__title {
            transform: scale(0); }
      body .main__content .container .dot-net__card {
        background: #ffffff;
        grid-area: dot-net;
        position: relative; }
        body .main__content .container .dot-net__card .card_content__wrapper {
          overflow: auto;
          padding: 10px;
          font-size: 18px;
          text-transform: normal;
          font-weight: bold;
          color: #000000; }
        body .main__content .container .dot-net__card .card_cover__wrapper {
          right: 0;
          bottom: 0;
          background: #642077;
          transition: width 1s ease, height 1s ease; }
          body .main__content .container .dot-net__card .card_cover__wrapper .cover__wrapper__title {
            color: #ffffff;
            font-size: 6vw;
            text-transform: normal;
            font-weight: bold;
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center; }
        body .main__content .container .dot-net__card:hover .card_cover__wrapper {
          width: 0;
          height: 0; }
          body .main__content .container .dot-net__card:hover .card_cover__wrapper .cover__wrapper__title {
            transform: scale(0); }
      body .main__content .container .events__card {
        grid-area: events;
        background: #ffffff;
        font-size: 1.5vw;
        text-transform: normal;
        font-weight: normal;
        color: #000000;
        position: relative; }
        body .main__content .container .events__card .card_content__wrapper {
          overflow: auto;
          height: -webkit-fill-available;
          padding: 10px; }
        body .main__content .container .events__card .card_cover__wrapper {
          right: 0;
          bottom: 0;
          background: #2d9aff; }
          body .main__content .container .events__card .card_cover__wrapper .cover__wrapper__title {
            color: #ffffff; }
        body .main__content .container .events__card:hover .card_cover__wrapper {
          width: 0; }
          body .main__content .container .events__card:hover .card_cover__wrapper .cover__wrapper__title {
            transform: scale(0); }
      body .main__content .container .blog__card {
        grid-area: blog;
        background: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5vw;
        text-transform: normal;
        font-weight: normal;
        color: #000000;
        position: relative; }
        body .main__content .container .blog__card .card_content__wrapper {
          padding: 10px; }
        body .main__content .container .blog__card .card_cover__wrapper {
          right: 0;
          bottom: 0;
          background: #0443a3; }
          body .main__content .container .blog__card .card_cover__wrapper .cover__wrapper__title {
            color: #ffffff; }
        body .main__content .container .blog__card:hover .card_cover__wrapper {
          width: 0; }
          body .main__content .container .blog__card:hover .card_cover__wrapper .cover__wrapper__title {
            transform: scale(0); }
      body .main__content .container .contacts__card {
        background: #ffffff;
        grid-area: contacts;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5vw;
        text-transform: normal;
        font-weight: normal;
        color: #000000;
        position: relative; }
        body .main__content .container .contacts__card .card_content__wrapper .list__networks .item__nework {
          width: 20px;
          cursor: pointer; }
          body .main__content .container .contacts__card .card_content__wrapper .list__networks .item__nework:hover {
            filter: invert(40%) sepia(97%) saturate(615%) hue-rotate(153deg) brightness(105%) contrast(103%); }
        body .main__content .container .contacts__card .card_cover__wrapper {
          right: 0;
          bottom: 0;
          background: #00255f; }
          body .main__content .container .contacts__card .card_cover__wrapper .cover__wrapper__title {
            color: #ffffff; }
        body .main__content .container .contacts__card:hover .card_cover__wrapper {
          width: 0; }
          body .main__content .container .contacts__card:hover .card_cover__wrapper .cover__wrapper__title {
            transform: scale(0); }
  body .container-messages {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 3; }
    body .container-messages .message {
      display: flex;
      padding: 10px;
      color: #ffffff;
      margin-top: 20px;
      opacity: 0.6; }
      body .container-messages .message .icon {
        padding: 10px; }
      body .container-messages .message span {
        padding: 10px; }
    body .container-messages .success {
      background: #3ad613; }
    body .container-messages .error {
      background: #e22626; }
    body .container-messages .warning {
      background: #a1b306; }
  body footer {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, 0px);
    font-size: 15px;
    text-transform: normal;
    font-weight: bold;
    color: #000000; }

@media screen and (max-width: 992px) {
  body .main__content {
    height: auto; }
    body .main__content .container {
      margin-bottom: 30px;
      height: 100vw;
      grid-template-areas: "logo logo logo logo logo js js js js events events events" "logo logo logo logo logo js js js js events events events" "logo logo logo logo logo js js js js blog blog blog" "logo logo logo logo logo js js js js blog blog blog" "logo logo logo logo logo js js js js contacts contacts contacts" "logo logo logo logo logo js js js js contacts contacts contacts" "java java java java java java php php php php php php" "java java java java java java php php php php php php" "java java java java java java php php php php php php" "qa qa qa qa qa qa dot-net dot-net dot-net dot-net dot-net dot-net" "qa qa qa qa qa qa dot-net dot-net dot-net dot-net dot-net dot-net" "qa qa qa qa qa qa dot-net dot-net dot-net dot-net dot-net dot-net"; } }
@media screen and (max-width: 576px) {
  body header {
    margin-top: 10px; }
    body header .container .user-info__container {
      width: 100%;
      max-width: 300px; }
      body header .container .user-info__container .bell svg {
        width: 25px; }
      body header .container .user-info__container .user__interface .user__logo img {
        width: 40px;
        max-height: 40px; } }

/*# sourceMappingURL=styles.css.map */
