@mixin placementToCenterHorizontallyAndVertically {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin fontStyle($fontSize, $fontWeight, $textTransform, $color) {
  font-size: $fontSize;
  text-transform: $textTransform;
  font-weight: $fontWeight;
  color: $color;
}

@keyframes slideFromTop {
  from {
    top: -100px;
  }

  to {
    top: 0px;
  }
}

body {
  max-width: 2800px;
  margin: auto;
  position: relative;
  header {
    background: #ffffff;
    display: flex;
    justify-content: center;
    animation-duration: 1s;
    animation-name: slideFromTop;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    max-height: 90px;
    z-index: 2;
    .container {
      width: 79.86%;
      display: flex;
      justify-content: space-between;
      .header__logo > img {
        max-width: 100%;
      }
      .user-info__container {
        width: 100%;
        max-width: 300px;
        position: relative;
        .bell {
          cursor: pointer;
          svg {
            width: 35px;
            fill: #bec9d9;
          }
          svg:hover {
            fill: #7c7f85;
          }
        }
        input#user-logo-checkbox {
          display: none;
        }
        input#user-logo-checkbox:checked ~ .user__actions {
          display: block;
        }
        .user__interface {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          .user__logo {
            label {
              display: block;
              margin-left: 1.7vw;
            }
            img {
              width: 60px;
              max-height: 60px;
              max-width: 100%;
              border-radius: 50%;
              cursor: pointer;
              max-width: 100%;
            }
          }
        }
        .user__actions {
          padding: 20px 30px 30px 30px;
          background: #ffffff;
          border: 1px solid;
          margin-top: 10px;
          display: none;
          position: absolute;
          z-index: 300;
          right: 0;
          width: 100%;
          .user__name {
            color: #9ba6b2;
            font-size: 20px;
            text-align: center;
            padding-bottom: 15px;
          }
          .grey__line {
            height: 2px;
            background: #9ba6b2;
          }
          button.users__action-bth {
            background: transparent;
            border: transparent;
            display: block;
            font-size: 20px;
            padding: 15px 0px 15px 5px;
            width: 100%;
            text-align: left;
            cursor: pointer;
          }
          button.user__profile__bth {
            margin-top: 5px;
          }
          button.users__action-bth:hover {
            background: #b6b9bb;
          }
        }
      }
    }
  }
  .main__content {
    background: #f8f9fc;
    display: flex;
    justify-content: center;
    height: 100vh;
    min-height: 100vh;
    .container {
      width: 79.86%;
      height: 32vw;
      margin-top: 150px;
      margin-bottom: 10px;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(12, 1fr);
      grid-template-areas:
        "logo logo logo js js js php php php php php php"
        "logo logo logo js js js php php php php php php"
        "logo logo logo js js js php php php php php php"
        "logo logo logo js js js php php php php php php"
        "logo logo logo js js js dot-net dot-net dot-net dot-net events events"
        "logo logo logo js js js dot-net dot-net dot-net dot-net events events"
        "qa qa qa js js js dot-net dot-net dot-net dot-net events events"
        "qa qa qa js js js dot-net dot-net dot-net dot-net blog blog"
        "qa qa qa js js js dot-net dot-net dot-net dot-net blog blog"
        "qa qa qa java java java dot-net dot-net dot-net dot-net blog blog"
        "qa qa qa java java java dot-net dot-net dot-net dot-net contacts contacts"
        "qa qa qa java java java dot-net dot-net dot-net dot-net contacts contacts";
      .card {
        .card__back__wrapper,
        .card__front__wrapper {
          position: absolute;
          width: 100%;
          height: 100%;
          transition: all 1s ease;
          backface-visibility: hidden;
        }
        .card__front__wrapper {
          z-index: 2;
        }
        .card__back__wrapper {
          transform: rotateY(180deg);
        }
        &:hover > .card__front__wrapper {
          z-index: 0;
          transform: rotateY(180deg);
        }
        &:hover > .card__back__wrapper {
          transform: rotateY(0deg);
        }

        .card_cover__wrapper {
          position: absolute;
          width: 100%;
          height: 100%;
          transition: width 1s ease;
          &.centered {
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .cover__wrapper__title {
            transition: all 1s ease;
          }
        }
      }
      .logo__card {
        grid-area: logo;
        position: relative;
        .card__back__wrapper {
          @include placementToCenterHorizontallyAndVertically();
          button {
            @include fontStyle(18px, bold, normal, #000000);
            background: blue;
            border: none;
            padding: 10px 20px;
            border-radius: 10px;
            cursor: pointer;
            &:hover {
              background: rgb(151, 151, 172);
            }
          }
        }
        .card__front__wrapper {
          background: #ffffff;
          @include placementToCenterHorizontallyAndVertically();
          .card__front__wrapper__title {
            width: 100px;
            max-width: 100%;
          }
        }
      }

      .js__card {
        background: #ffffff;
        grid-area: js;
        position: relative;
        .card__back__wrapper {
          background: #f0eded;
          padding: 10px;
          overflow: auto;
          @include fontStyle(18px, bold, normal, #000000);
        }
        .card__front__wrapper {
          background: #f7cf69;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          .card__front__wrapper__title {
            margin-right: 10px;
            margin-bottom: 10px;
            @include fontStyle(5vw, bold, uppercase, #000000);
            @include placementToCenterHorizontallyAndVertically();
          }
        }
      }
      .qa__card {
        grid-area: qa;
        position: relative;
        .card__back__wrapper {
          background: #f0eded;
          padding: 10px;
          overflow: auto;
          @include fontStyle(18px, bold, normal, #000000);
        }
        .card__front__wrapper {
          background: #52bf78;
          display: flex;
          justify-content: center;
          align-items: center;
          .card__front__wrapper__title {
            @include fontStyle(6vw, bold, uppercase, #ffffff);
          }
        }
      }
      .java__card {
        background: #ffffff;
        grid-area: java;
        position: relative;
        .card_content__wrapper {
          overflow: auto;
          padding: 10px;
          @include fontStyle(18px, bold, normal, #000000);
        }
        .card_cover__wrapper {
          right: 0;
          bottom: 0;
          background: #e02b4c;
          transition: height 1s ease;
          .cover__wrapper__title {
            color: #ffffff;
            @include fontStyle(6vw, bold, normal, #ffffff);
            @include placementToCenterHorizontallyAndVertically();
          }
        }
        &:hover {
          .card_cover__wrapper {
            height: 0;
            .cover__wrapper__title {
              transform: scale(0);
            }
          }
        }
      }
      .php__card {
        background: #ffffff;
        grid-area: php;
        position: relative;
        .card_content__wrapper {
          overflow: auto;
          padding: 10px;
          @include fontStyle(18px, bold, normal, #000000);
        }
        .card_cover__wrapper {
          right: 0;
          top: 0;
          background: #8893c0;
          transition: width 1s ease, height 1s ease;
          .cover__wrapper__title {
            color: #ffffff;
            font-style: italic;
            @include fontStyle(6vw, bold, normal, #000000);
            @include placementToCenterHorizontallyAndVertically();
          }
        }
        &:hover {
          .card_cover__wrapper {
            width: 0;
            height: 0;
            .cover__wrapper__title {
              transform: scale(0);
            }
          }
        }
      }
      .dot-net__card {
        background: #ffffff;
        grid-area: dot-net;
        position: relative;
        .card_content__wrapper {
          overflow: auto;
          padding: 10px;
          @include fontStyle(18px, bold, normal, #000000);
        }
        .card_cover__wrapper {
          right: 0;
          bottom: 0;
          background: #642077;
          transition: width 1s ease, height 1s ease;
          .cover__wrapper__title {
            color: #ffffff;
            @include fontStyle(6vw, bold, normal, #ffffff);
            @include placementToCenterHorizontallyAndVertically();
          }
        }
        &:hover {
          .card_cover__wrapper {
            width: 0;
            height: 0;
            .cover__wrapper__title {
              transform: scale(0);
            }
          }
        }
      }
      .events__card {
        grid-area: events;
        background: #ffffff;
        @include fontStyle(1.5vw, normal, normal, #000000);
        position: relative;
        .card_content__wrapper {
          overflow: auto;
          height: -webkit-fill-available;
          padding: 10px;
        }
        .card_cover__wrapper {
          right: 0;
          bottom: 0;
          background: #2d9aff;
          .cover__wrapper__title {
            color: #ffffff;
          }
        }
        &:hover {
          .card_cover__wrapper {
            width: 0;
            .cover__wrapper__title {
              transform: scale(0);
            }
          }
        }
      }
      .blog__card {
        grid-area: blog;
        background: #ffffff;
        @include placementToCenterHorizontallyAndVertically();
        @include fontStyle(1.5vw, normal, normal, #000000);
        position: relative;
        .card_content__wrapper {
          padding: 10px;
        }
        .card_cover__wrapper {
          right: 0;
          bottom: 0;
          background: #0443a3;
          .cover__wrapper__title {
            color: #ffffff;
          }
        }
        &:hover {
          .card_cover__wrapper {
            width: 0;
            .cover__wrapper__title {
              transform: scale(0);
            }
          }
        }
      }
      .contacts__card {
        background: #ffffff;
        grid-area: contacts;
        @include placementToCenterHorizontallyAndVertically();
        @include fontStyle(1.5vw, normal, normal, #000000);
        position: relative;
        .card_content__wrapper {
          .list__networks {
            .item__nework {
              width: 20px;
              cursor: pointer;
              &:hover {
                filter: invert(40%) sepia(97%) saturate(615%) hue-rotate(153deg)
                  brightness(105%) contrast(103%);
              }
            }
          }
        }
        .card_cover__wrapper {
          right: 0;
          bottom: 0;
          background: #00255f;
          .cover__wrapper__title {
            color: #ffffff;
          }
        }
        &:hover {
          .card_cover__wrapper {
            width: 0;
            .cover__wrapper__title {
              transform: scale(0);
            }
          }
        }
      }
    }
  }
  .container-messages {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 3;
    .message {
      display: flex;
      padding: 10px;
      color: #ffffff;
      margin-top: 20px;
      opacity: 0.6;
      .icon {
        padding: 10px;
      }
      span {
        padding: 10px;
      }
    }
    .success {
      background: rgb(58, 214, 19);
    }
    .error {
      background: rgb(226, 38, 38);
    }
    .warning {
      background: rgb(161, 179, 6);
    }
  }
  footer {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, 0px);
    @include fontStyle(15px, bold, normal, #000000);
  }
}
@media screen and (max-width: 992px) {
  body {
    .main__content {
      height: auto;
      .container {
        margin-bottom: 30px;
        height: 100vw;
        grid-template-areas:
          "logo logo logo logo logo js js js js events events events"
          "logo logo logo logo logo js js js js events events events"
          "logo logo logo logo logo js js js js blog blog blog"
          "logo logo logo logo logo js js js js blog blog blog"
          "logo logo logo logo logo js js js js contacts contacts contacts"
          "logo logo logo logo logo js js js js contacts contacts contacts"
          "java java java java java java php php php php php php"
          "java java java java java java php php php php php php"
          "java java java java java java php php php php php php"
          "qa qa qa qa qa qa dot-net dot-net dot-net dot-net dot-net dot-net"
          "qa qa qa qa qa qa dot-net dot-net dot-net dot-net dot-net dot-net"
          "qa qa qa qa qa qa dot-net dot-net dot-net dot-net dot-net dot-net";
      }
    }
  }
}
@media screen and (max-width: 576px) {
  body {
    header {
      margin-top: 10px;
      .container {
        .user-info__container {
          width: 100%;
          max-width: 300px;
          .bell svg {
            width: 25px;
          }
          .user__interface {
            .user__logo {
              img {
                width: 40px;
                max-height: 40px;
              }
            }
          }
        }
      }
    }
  }
}
